{% extends "base.html" %}
{% from "macros.jinja" import window_vars with context %}
{% block scripts %}
  {{ window_vars(user) }}
  <script src="{{ static_url_for('bakalari_rewards/static', path='js/index.js') }}"></script>
{% endblock %}
{% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h5 class="text-subtitle1 q-my-none">
          <strong>Bakáláři Rewards</strong> &mdash; Automatické odměny v Bitcoin za školní známky
        </h5>
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Seznam žáků</h5>
          </div>
          <div class="col-auto">
            <q-btn unelevated color="primary" @click="openAddDialog" label="Přidat žáka" />
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="students"
          :columns="studentsTable.columns"
          row-key="id"
          no-data-label="Zatím žádní žáci"
        >
          <template v-slot:body-cell-reward_sats="props">
            <q-td>
              <span>1: ${ props.row.reward_grade_1 } sat</span>
              <span class="q-ml-sm">2: ${ props.row.reward_grade_2 } sat</span>
              <span class="q-ml-sm">3: ${ props.row.reward_grade_3 } sat</span>
              <span class="q-ml-sm">4: ${ props.row.reward_grade_4 } sat</span>
              <span class="q-ml-sm">5: ${ props.row.reward_grade_5 } sat</span>
            </q-td>
          </template>
          <template v-slot:body-cell-actions="props">
            <q-td auto-width>
              <q-btn flat dense color="primary" icon="edit" @click="openEditDialog(props.row)">
                <q-tooltip>Upravit</q-tooltip>
              </q-btn>
              <q-btn flat dense color="negative" icon="delete" @click="deleteStudent(props.row.id)" />
            </q-td>
          </template>
        </q-table>
      </q-card-section>
    </q-card>
  </div>
</div>

<q-dialog v-model="formDialog.show" persistent>
  <q-card style="min-width: 550px; max-width: 90vw">
    <q-card-section class="row items-center">
      <div class="text-h6">${ formDialog.editMode ? 'Upravit žáka' : 'Přidat žáka' }</div>
      <q-space />
      <q-btn icon="close" flat round dense @click="formDialog.show = false" />
    </q-card-section>
    <q-separator />
    <q-card-section style="max-height: 70vh" class="scroll">
      <q-input v-model="formDialog.data.name" label="Jméno žáka" filled class="q-mb-md" />
      <q-select
        v-model="formDialog.data.wallet"
        :options="g.user.wallets"
        option-value="id"
        option-label="name"
        emit-value
        map-options
        label="Peňeženka"
        filled
        class="q-mb-md"
      />
      <q-input v-model="formDialog.data.bakalari_url" label="URL Bakálářů" filled class="q-mb-md" />
      <q-input v-model="formDialog.data.bakalari_username" label="Přihlašovací jméno" filled class="q-mb-md" />
      <q-input v-model="formDialog.data.bakalari_password" label="Heslo" type="password" filled class="q-mb-md" />
      <div class="text-subtitle2 q-mb-sm">Odměna za známku (sats)</div>
      <div class="row q-gutter-sm">
        <q-input v-model.number="formDialog.data.reward_grade_1" label="Známka 1" type="number" filled style="width:100px" />
        <q-input v-model.number="formDialog.data.reward_grade_2" label="Známka 2" type="number" filled style="width:100px" />
        <q-input v-model.number="formDialog.data.reward_grade_3" label="Známka 3" type="number" filled style="width:100px" />
        <q-input v-model.number="formDialog.data.reward_grade_4" label="Známka 4" type="number" filled style="width:100px" />
        <q-input v-model.number="formDialog.data.reward_grade_5" label="Známka 5" type="number" filled style="width:100px" />
      </div>
    </q-card-section>
    <q-separator />
    <q-card-actions align="right" class="q-pa-md">
      <q-btn flat label="Zrušit" @click="formDialog.show = false" />
      <q-btn unelevated color="primary" label="Uložit žáka" @click="saveStudent" />
    </q-card-actions>
  </q-card>
</q-dialog>
{% endblock %}
